0.0.0.0:80

# Trust the Traefik bridge network and read XFF header.
realip {
    header X-Forwarded-For
    from 172.23.0.0/16
    maxhops 3
}

fastcgi / 127.0.0.1:9000 php
browse
on startup php-fpm7
